@tailwind base;
@tailwind components;
@tailwind utilities;

/* Transition to show hide profile */
.profile-enter-active,
.profile-leave-active {
    transition: all 0.2s ease;
}

.profile-enter-from,
.profile-leave-to {
    opacity: 0;
    transform: translateY(-10px);
}
