# Nuxt dev/build outputs
.output
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules
/pnpm-lock.yaml

# Local env files
.env
.env.*
!.env.example

# build / tests
quiz-app
internal/web/dist
data*.db
data*.db-shm
data*.db-wal
coverage.out
.openapi-generator
openapitools.json

# ide
.idea/*
!.idea/runConfigurations
!.idea/inspectionProfiles
!.idea/copyright
*.iml
internal/web/.idea/*
!internal/web/.idea/copyright
