# Nodes
node_modules

# build
quiz-app
internal/web/dist
/data

# ide
.idea/*
!.idea/runConfigurations
!.idea/inspectionProfiles
!.idea/copyright
*.iml
internal/web/.idea/*
!internal/web/.idea/copyright
