name: build

on:
  push

jobs:
  build:

    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - uses: pnpm/action-setup@v4
        with:
          version: 10

      - uses: actions/setup-node@v6
        with:
          node-version: 22.x

      - name: Prepare Vue App
        run: |
          make prepare

      - name: Build Vue App
        run: |
          make build-web

      - name: Install dependencies
        run: |
          go get .

      - name: Build Go App
        run: make build-go

      - name: Test
        run: make coverage

      - name: Install goveralls
        if: ${{ github.actor != 'dependabot[bot]' }}
        run: go install github.com/mattn/goveralls@latest
      - name: Send coverage
        if: ${{ github.actor != 'dependabot[bot]' }}
        env:
          COVERALLS_TOKEN: ${{ secrets.COVERALLS_TOKEN }}
        run: goveralls -coverprofile=coverage.out -service=github

      - name: Web ESLint
        run: make lint-front

      - name: Save Golang cache
        if: always()
        uses: actions/cache/save@v5
        with:
          path: |
            ${{ steps.golang-with-cache.outputs.build-cache-path }}
            ${{ steps.golang-with-cache.outputs.module-cache-path }}
          key: ${{ steps.golang-with-cache.outputs.cache-key }}