name: "code-ql-ts"

on:
  push:
    paths:
      - 'internal/web/src/**'

jobs:
  analyze:
    name: Analyze
    runs-on: 'ubuntu-latest'
    permissions:
      actions: read
      contents: read
      security-events: write

    if: ${{ github.actor != 'dependabot[bot]' }}

    steps:
    - name: Checkout repository
      uses: actions/checkout@v6

    - name: Get changed files in the internal/back folder
      id: changed-files-specific
      uses: tj-actions/changed-files@v47
      with:
        files: internal/**/*.ts

    # Initializes the CodeQL tools for scanning.
    - name: Initialize CodeQL
      if: steps.changed-files-specific.outputs.any_changed == 'true'
      uses: github/codeql-action/init@v4
      with:
        languages: javascript

    - name: Autobuild
      if: steps.changed-files-specific.outputs.any_changed == 'true'
      uses: github/codeql-action/autobuild@v4

    - name: Perform CodeQL Analysis
      if: steps.changed-files-specific.outputs.any_changed == 'true'
      uses: github/codeql-action/analyze@v4
      with:
        category: "/language:javascript"
